@charset "UTF-8";
body {
	background-color: black;
	font-size: small;
	text-align: center;
	color: rgb(233, 227, 227);
}

.container-fluid {
	background-color: rgb(60, 13, 122);
}

.bandeau{
	margin-left: 20px;
	margin-right: 20px;
	height:500px;
	background-image: url("assets/bandeau.png");
	background-size: 100% 100%;
}

#bandeau_text{
	margin: 0 auto;
	position: relative;
	width:70%;
	top: 70%;
}

.article{
	border: 20px;
}
.article img{
	width:100%;
}

