@charset "UTF-8";
body {
	background-color: black;
}
.container-fluid {
	background-color: rgb(60, 13, 122);
}
.bandeau{
	width:100%;
	height:500px;
	background-image: url("assets/bandeau.png");
	background: cover;
	
	color: rgb(233, 227, 227);
	text-align: center;
}
#bandeau_text{
	position: relative;
	width:70%;
	top: 70%;
	left: 15%;
}
.articles{
	position: relative;
	position: center;
}
.article{
	width: 22%;
	margin-top: 20px;
	margin-right:5px;
	margin-left: 5px;
}
.article img{
	width:100%;
}